<div class="top-dec">
    Froga's Mission
</div>
<div id="userInformations">
    <div class="img-container">
        <img src="/img/Frieren Brasileirinha.png" alt="">
    </div>
    <div class="level">
        <ul id="typesLevel">
            <li class="type-container" data-type="physical">
                <div class="icon-container">
                    +
                </div>
                <span>a</span>
            </li>
            <li>
                <span></span>
            </li>
        </ul>
        <div id="stamina">
            <div class="energy">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1000" zoomAndPan="magnify" viewBox="0 0 750 749.999995" height="1000" preserveAspectRatio="xMidYMid meet" version="1.0"><defs><clipPath id="c297d18046"><path d="M 180 37 L 569 37 L 569 714.695312 L 180 714.695312 Z M 180 37 " clip-rule="nonzero"/></clipPath></defs><g clip-path="url(#c297d18046)"><path d="M 219.738281 714.578125 C 217.015625 714.5625 214.371094 714.113281 211.800781 713.222656 C 209.230469 712.335938 206.871094 711.054688 204.722656 709.386719 C 204.136719 708.953125 203.570312 708.492188 203.027344 708.007812 C 202.484375 707.523438 201.960938 707.015625 201.464844 706.480469 C 200.964844 705.949219 200.492188 705.398438 200.046875 704.820312 C 199.597656 704.246094 199.175781 703.652344 198.78125 703.039062 C 198.386719 702.429688 198.019531 701.800781 197.683594 701.152344 C 197.34375 700.507812 197.035156 699.847656 196.757812 699.175781 C 196.480469 698.5 196.230469 697.816406 196.015625 697.121094 C 195.800781 696.425781 195.613281 695.71875 195.460938 695.007812 C 195.308594 694.292969 195.1875 693.578125 195.097656 692.851562 C 195.011719 692.128906 194.957031 691.402344 194.933594 690.675781 C 194.910156 689.945312 194.921875 689.21875 194.960938 688.492188 C 195.003906 687.761719 195.082031 687.039062 195.191406 686.320312 C 195.296875 685.597656 195.4375 684.882812 195.609375 684.175781 C 195.785156 683.46875 195.988281 682.769531 196.222656 682.078125 C 196.460938 681.390625 196.726562 680.710938 197.023438 680.046875 C 197.320312 679.378906 197.644531 678.730469 198 678.09375 L 198.121094 677.886719 L 345.4375 417.027344 L 204.972656 417.027344 C 203.769531 417.023438 202.570312 416.933594 201.382812 416.757812 C 200.191406 416.582031 199.019531 416.316406 197.871094 415.96875 C 196.71875 415.621094 195.597656 415.1875 194.507812 414.675781 C 193.421875 414.164062 192.375 413.574219 191.375 412.90625 C 190.371094 412.242188 189.421875 411.507812 188.527344 410.699219 C 187.632812 409.894531 186.804688 409.03125 186.035156 408.105469 C 185.269531 407.175781 184.570312 406.199219 183.949219 405.171875 C 183.324219 404.140625 182.777344 403.074219 182.308594 401.964844 C 181.839844 400.855469 181.457031 399.71875 181.15625 398.554688 C 180.855469 397.390625 180.636719 396.210938 180.511719 395.011719 C 180.382812 393.816406 180.339844 392.617188 180.386719 391.414062 C 180.433594 390.210938 180.570312 389.019531 180.792969 387.835938 C 181.011719 386.65625 181.320312 385.496094 181.710938 384.355469 C 182.105469 383.21875 182.578125 382.117188 183.128906 381.046875 C 183.683594 379.980469 184.3125 378.957031 185.015625 377.980469 C 185.71875 377.003906 186.488281 376.082031 187.324219 375.21875 L 486.597656 45.40625 L 487.023438 44.949219 C 488.03125 43.945312 489.117188 43.03125 490.285156 42.214844 C 491.453125 41.394531 492.679688 40.683594 493.972656 40.078125 C 495.261719 39.472656 496.59375 38.984375 497.96875 38.609375 C 499.34375 38.238281 500.742188 37.984375 502.160156 37.855469 C 503.578125 37.722656 505 37.714844 506.417969 37.828125 C 507.839844 37.945312 509.238281 38.179688 510.617188 38.539062 C 511.996094 38.894531 513.335938 39.367188 514.632812 39.957031 C 515.929688 40.546875 517.167969 41.246094 518.34375 42.050781 C 519.519531 42.855469 520.617188 43.753906 521.636719 44.746094 C 522.660156 45.742188 523.585938 46.816406 524.417969 47.972656 C 525.253906 49.128906 525.980469 50.347656 526.605469 51.628906 C 527.226562 52.910156 527.734375 54.238281 528.125 55.605469 C 528.519531 56.976562 528.789062 58.371094 528.941406 59.785156 C 529.089844 61.203125 529.121094 62.625 529.023438 64.042969 C 528.929688 65.464844 528.710938 66.871094 528.371094 68.253906 C 528.035156 69.636719 527.578125 70.980469 527.007812 72.289062 L 526.832031 72.667969 L 410.464844 316.03125 L 534.066406 316.03125 C 535.757812 316.03125 537.445312 316.15625 539.117188 316.40625 C 540.792969 316.652344 542.441406 317.019531 544.0625 317.511719 C 545.683594 318 547.261719 318.605469 548.796875 319.324219 C 550.328125 320.046875 551.800781 320.875 553.210938 321.808594 C 554.625 322.746094 555.960938 323.777344 557.21875 324.910156 C 558.480469 326.042969 559.652344 327.257812 560.734375 328.5625 C 561.816406 329.863281 562.796875 331.238281 563.675781 332.6875 C 564.558594 334.132812 565.328125 335.636719 565.988281 337.195312 C 566.652344 338.753906 567.195312 340.351562 567.621094 341.992188 C 568.046875 343.632812 568.351562 345.292969 568.535156 346.976562 C 568.71875 348.660156 568.78125 350.347656 568.714844 352.039062 C 568.652344 353.730469 568.464844 355.410156 568.15625 357.074219 C 567.847656 358.742188 567.417969 360.375 566.867188 361.976562 C 566.320312 363.578125 565.65625 365.132812 564.882812 366.636719 C 564.105469 368.144531 563.222656 369.585938 562.238281 370.960938 C 561.25 372.335938 560.167969 373.632812 558.992188 374.851562 L 237.03125 707.195312 L 236.664062 707.5625 C 235.542969 708.664062 234.328125 709.644531 233.019531 710.511719 C 231.710938 711.378906 230.328125 712.109375 228.878906 712.710938 C 227.429688 713.3125 225.9375 713.769531 224.398438 714.085938 C 222.859375 714.398438 221.304688 714.5625 219.738281 714.578125 Z M 219.074219 689.328125 Z M 206.664062 391.617188 L 346.71875 391.617188 C 347.25 391.617188 347.777344 391.632812 348.308594 391.667969 C 348.835938 391.703125 349.363281 391.753906 349.890625 391.824219 C 350.417969 391.890625 350.9375 391.976562 351.460938 392.078125 C 351.980469 392.183594 352.496094 392.300781 353.007812 392.4375 C 353.523438 392.570312 354.03125 392.722656 354.53125 392.890625 C 355.035156 393.0625 355.53125 393.246094 356.023438 393.445312 C 356.515625 393.648438 357 393.863281 357.476562 394.09375 C 357.953125 394.328125 358.421875 394.574219 358.882812 394.835938 C 359.34375 395.097656 359.796875 395.375 360.238281 395.664062 C 360.683594 395.957031 361.117188 396.261719 361.539062 396.582031 C 361.964844 396.898438 362.375 397.234375 362.777344 397.578125 C 363.179688 397.925781 363.570312 398.28125 363.949219 398.652344 C 364.328125 399.023438 364.695312 399.410156 365.050781 399.804688 C 365.402344 400.199219 365.746094 400.605469 366.074219 401.019531 C 366.402344 401.4375 366.714844 401.863281 367.015625 402.300781 C 367.316406 402.738281 367.601562 403.183594 367.875 403.640625 C 368.144531 404.09375 368.402344 404.558594 368.644531 405.03125 C 368.886719 405.503906 369.109375 405.984375 369.320312 406.46875 C 369.53125 406.957031 369.726562 407.449219 369.90625 407.949219 C 370.085938 408.449219 370.246094 408.953125 370.394531 409.460938 C 370.539062 409.972656 370.671875 410.484375 370.785156 411.003906 C 370.898438 411.523438 370.992188 412.042969 371.074219 412.566406 C 371.152344 413.09375 371.214844 413.617188 371.261719 414.148438 C 371.304688 414.675781 371.332031 415.207031 371.34375 415.734375 C 371.355469 416.265625 371.351562 416.796875 371.328125 417.324219 C 371.304688 417.855469 371.265625 418.382812 371.207031 418.910156 C 371.152344 419.4375 371.078125 419.964844 370.988281 420.484375 C 370.894531 421.007812 370.789062 421.527344 370.664062 422.042969 C 370.539062 422.558594 370.398438 423.070312 370.242188 423.578125 C 370.082031 424.082031 369.910156 424.582031 369.71875 425.078125 C 369.53125 425.574219 369.324219 426.0625 369.105469 426.546875 C 368.882812 427.027344 368.644531 427.5 368.394531 427.96875 L 368.277344 428.175781 L 223.191406 685.078125 L 540.726562 357.207031 C 541.363281 356.550781 541.894531 355.8125 542.316406 355 C 542.734375 354.1875 543.03125 353.332031 543.199219 352.433594 C 543.367188 351.53125 543.402344 350.628906 543.304688 349.71875 C 543.207031 348.808594 542.976562 347.933594 542.621094 347.089844 C 542.261719 346.246094 541.792969 345.472656 541.207031 344.769531 C 540.621094 344.066406 539.949219 343.460938 539.183594 342.957031 C 538.421875 342.453125 537.601562 342.066406 536.722656 341.804688 C 535.847656 341.542969 534.953125 341.410156 534.035156 341.410156 L 409.273438 341.410156 C 408.765625 341.410156 408.257812 341.394531 407.746094 341.363281 C 407.238281 341.332031 406.730469 341.285156 406.226562 341.222656 C 405.722656 341.160156 405.21875 341.082031 404.71875 340.988281 C 404.214844 340.894531 403.71875 340.78125 403.226562 340.65625 C 402.730469 340.53125 402.242188 340.394531 401.757812 340.238281 C 401.269531 340.082031 400.789062 339.910156 400.316406 339.726562 C 399.839844 339.542969 399.375 339.339844 398.910156 339.128906 C 398.449219 338.914062 397.992188 338.683594 397.546875 338.441406 C 397.097656 338.199219 396.65625 337.945312 396.226562 337.671875 C 395.792969 337.402344 395.367188 337.121094 394.953125 336.824219 C 394.539062 336.527344 394.132812 336.21875 393.738281 335.898438 C 393.34375 335.578125 392.957031 335.246094 392.582031 334.898438 C 392.207031 334.554688 391.84375 334.199219 391.492188 333.832031 C 391.136719 333.464844 390.796875 333.085938 390.46875 332.695312 C 390.140625 332.308594 389.820312 331.910156 389.515625 331.5 C 389.210938 331.09375 388.921875 330.675781 388.640625 330.246094 C 388.363281 329.820312 388.097656 329.386719 387.847656 328.945312 C 387.59375 328.5 387.355469 328.050781 387.132812 327.59375 C 386.910156 327.132812 386.699219 326.671875 386.503906 326.199219 C 386.308594 325.730469 386.128906 325.253906 385.964844 324.769531 C 385.796875 324.289062 385.648438 323.800781 385.511719 323.3125 C 385.378906 322.820312 385.257812 322.324219 385.152344 321.828125 C 385.046875 321.328125 384.960938 320.824219 384.886719 320.320312 C 384.8125 319.816406 384.753906 319.3125 384.710938 318.804688 C 384.671875 318.296875 384.644531 317.789062 384.632812 317.277344 C 384.621094 316.769531 384.628906 316.257812 384.648438 315.75 C 384.667969 315.242188 384.707031 314.734375 384.757812 314.226562 C 384.8125 313.71875 384.878906 313.214844 384.964844 312.710938 C 385.046875 312.210938 385.144531 311.710938 385.261719 311.214844 C 385.375 310.71875 385.507812 310.226562 385.652344 309.738281 C 385.796875 309.25 385.957031 308.765625 386.132812 308.285156 C 386.308594 307.808594 386.496094 307.335938 386.703125 306.867188 L 386.878906 306.488281 L 501.582031 66.683594 Z M 515.390625 67.183594 Z M 515.390625 67.183594 " fill-opacity="1" fill-rule="nonzero"/></g></svg>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                <defs>
                    <linearGradient id="GradientColor">
                        <stop offset="0%" stop-color="#ffffff" />
                        <stop offset="100%" stop-color="#673ab7" />
                    </linearGradient>
                </defs>
                <circle cx="80" cy="80" r="70" stroke-linecap="round" />
            </svg>
        </div>
        <span>Nível <span class="levelNumber">15</span></span>
    </div>
    <div class="experience">
        <div class="bar-out">
            <div class="bar-in"></div>
        </div>
        <div class="experience-number">
            <p><span class="actual">100</span>/<span>150</span> Exp</p>
        </div>
    </div>
</div>
<div id="mission">
    <div class="mission-container" data-type="physical">
        <div class="icon-background">

        </div>
        <h3>Fisico</h3>
        <ul class="mission-group">
            <li class="mission" data-exp="50">
                <div class="icon-container">
                </div>
                <p>Malhar peitoral né pae</p>
                <span class="exp-plus">+ 50 Exp</span>
            </li>
            <li class="mission" data-exp="50">
                <div class="icon-container"></div>
                <p>Malhar peitoral né pae</p>
                <span class="exp-plus">+ 50 Exp</span>
            </li>
        </ul>
    </div>
    <div class="mission-container" data-type="study">
        <div class="icon-background">

        </div>
        <h3>Study</h3>
        <ul class="mission-group">
            <li class="mission" data-exp="50">
                <div class="icon-container">
                </div>
                <p>Read Little Prince, good of more, you're crazy</p>
                <span class="exp-plus">+ 50 Exp</span>
            </li>
            <li class="mission" data-exp="50">
                
                <div class="icon-container"></div>
                <p>Malhar peitoral né pae</p>
                <span class="exp-plus">+ 50 Exp</span>
            </li>
            <li class="mission" data-exp="50"><p>+</p></li>
        </ul>
    </div>
</div>