<form action="/login" method="POST">
    <h2>Faça Login</h2>
    <div class="input-text-container">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" placeholder="Digite seu Email">
    </div>
    <div class="input-text-container">
        <label for="password">Senha:</label>
        <input type="password" name="password" id="password" placeholder="Digite seu Nome">
    </div>
    <input type="submit" value="Enviar">
        <p class="aviso">Não tem conta? <a href="/register">Clique aqui</a></p>
</form>