<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/93d7bc9032.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/form.css" />
    <title>Daily</title>
  </head>
  <body>
    <main id="container">
      {{#if messages.message}}
        <p class="message">{{messages.message}}</p>
      {{/if}}
      {{{body}}}
    </main>
  </body>
</html>